body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center; 
    justify-content: center;
    height: 100vh;
    background: url("./imagens/salatcc.jpg") no-repeat center center fixed;
    background-size: cover;
    /*background-color: #5cabc1;*/
  }

  .consumo {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    background-color: #dfd5d5da;
    box-shadow: 0px 2px 4px rgba(214, 23, 23, 0.1);
  } 

  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .Home {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 10px 20px;
    background-color: #1c6d99;
    color: #fff;
    border: none;
    cursor: pointer;
}


  @media screen and (max-width: 600px) {
    .container {
      display: flex;
      align-items: center;
     
    }

  }

  @media screen and (max-width: 600px) {
    .button-container {
      flex-direction: column; 
      font-size: 12px;
      margin: 20px;
  
    }
  }
  
